<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088762256811-u4b06f2ocg8u2rmgb0c1c1cdoa12baa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088762256811-u4b06f2ocg8u2rmgb0c1c1cdoa12baa8</string>
	<key>API_KEY</key>
	<string>AIzaSyC4VCBUershYWdtlr41K_d94YSVT_cTImc</string>
	<key>GCM_SENDER_ID</key>
	<string>1088762256811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boardgames</string>
	<key>PROJECT_ID</key>
	<string>boardgameranking</string>
	<key>STORAGE_BUCKET</key>
	<string>boardgameranking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088762256811:ios:4d4475286f365475b586ee</string>
	<key>DATABASE_URL</key>
	<string>https://boardgameranking-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>